<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.gufroan.wearwolf">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name=".MobileP2PService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>
        <service
            android:name=".TextToSpeechService"
            android:label="Text2Speech Service"/>
        <service
            android:name=".ImageFetchingService"
            android:exported="false"/>
    </application>

</manifest>
